<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Merjen/Desktop/IntelijIDEA-Projects/testng-automation">
        <classes>
            <class name="cashwise.CashWiseHomeTest"></class>
            <class name="studymate.StudyMateTests"></class>
        </classes>


    </test>
</suite>